.app-container{
  height:100%;
  .navbar-container{
    .titles{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}


a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

