.app-container{
  .navbar-container{
    .titles{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

