<div class="form-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <div class="fields-container">
      <!-- Name,  Phone -->
      <div class="fields">
        <div class="field">
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" />
            <mat-error *ngIf="!orderForm.name.valid">Required Field</mat-error>
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Phone Number"
              formControlName="phoneNumber"
            />
            <mat-error *ngIf="!orderForm.phoneNumber.valid">IL Phone Required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- pickup address + city -->
      <div class="fields">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>PickUp Address</mat-label>
            <textarea
              matInput
              placeholder="Pickup Address"
              formControlName="pickupAddress"
            ></textarea>
            <mat-error *ngIf="!orderForm.pickupAddress.valid">Required Field</mat-error>

          </mat-form-field>
        </div>
        <div class="pickupCity">
          <mat-form-field appearance="outline">
            <mat-label>Pickup City</mat-label>
            <mat-select
              formControlName="pickupCity"
              (selectionChange)="cityChanged($event.value, true)"
            >
              <mat-option *ngFor="let city of cities" [value]="city">
                {{ city.enName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!orderForm.pickupCity.valid">Required Field</mat-error>

          </mat-form-field>
        </div>
      </div>
      <!-- drop city  reciever Name-->
      <div class="fields">
        <div class="dropoffCity">
          <mat-form-field appearance="outline">
            <mat-label> Drop-off City</mat-label>
            <mat-select
              formControlName="dropOffCity"
              (selectionChange)="cityChanged($event.value, false)"
            >
              <mat-option *ngFor="let city of cities" [value]="city">
                {{ city.enName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!orderForm.dropOffCity.valid">Required Field</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Receiver Name</mat-label>
            <input
              matInput
              placeholder="Receiver Name"
              formControlName="receiverName"
            />
            <mat-error *ngIf="!orderForm.receiverName.valid">Required Field</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Address and phone number -->
      <div class="fields">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Receiver Address</mat-label>
            <textarea
              matInput
              placeholder="Receiver Address"
              formControlName="dropOffAddress"
            ></textarea>
            <mat-error *ngIf="!orderForm.dropOffAddress.valid">Required Field</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-element">
            <mat-label>Receiver Phone Number</mat-label>
            <input
              matInput
              placeholder="Receiver Phone Number"
              formControlName="receiverPhoneNumbers"
            />
            <mat-error *ngIf="!orderForm.receiverPhoneNumbers.valid">IL Phone Number</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="fields">
        <button [disabled]="!formGroup.valid" mat-button type="submit" color="primary">Submit</button>
      </div>
    </div>
  </form>
  <p>Delivery Price - {{ price }}</p>
</div>
