.fields-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  .fields {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    .mat-form-field {
      width: 30vw;
      height: 10vh;
    }
  }
}
