form{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;


  .fields-container {
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .field {

      .mat-form-field {
        min-width: 300px;
        height: 10vh;
      }
    }
  }


}
