<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">

  <div class="fields">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Phone Number" formControlName="phoneNumber" />
    </mat-form-field>
  </div>
  <div class="fields">
    <mat-form-field  appearance="outline">
      <mat-label>City Address</mat-label>
      <textarea matInput placeholder="City Address" formControlName="address"></textarea>
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Receiver Address</mat-label>
      <textarea matInput placeholder="Receiver Address" formControlName="receiverAddress"></textarea>
    </mat-form-field>
  </div>
  <div class="fields">
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Receiver Phone Number</mat-label>
      <input matInput placeholder="Receiver Phone Number" formControlName="receiverPhoneNumbers" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-element">
      <mat-label>Drop-off Address</mat-label>
      <textarea matInput placeholder="Drop-off Address" formControlName="dropAddress"></textarea>
    </mat-form-field>
  </div>
</form>
